body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 5px;
}

section {
  margin-top: 25px;
}
.profile-img {
  width: 140px;        /* control size */
  height: 140px;
  border-radius: 50%; /* makes it round */
  object-fit: cover;  /* prevents stretching */
  margin-top: 20px;
  border: 4px solid white;
}
header {
  text-align: center;
}.profile-img {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.profile-img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

